<% js_caching = RefinerySetting.find_or_set(:use_resource_caching, Rails.root.join('public', 'javascripts', 'cache').writable?) -%>
<% content_for :head do %>
<%= jquery_include_tags(:caching => js_caching) %> <script type="text/javascript" src="/theme/javascripts/default.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        loadRecentBlogFeed();
    });
</script>
<% end %>
<div>
    <div style="overflow: auto;">
        <div style="float: left; width: 390px;">
            <%= render :partial => "/shared/content_page" %>
        </div>
        <div style="float: left; width: 310px; padding-left: 20px;">
            <div id="recent_blog">
                loading recent blogs<div class='loading'></div>
            </div>
            <br/>
            <div id="recent_dist_blog">
                loading blog of distributed system<div class='loading'></div>
            </div>
        </div>
    </div>
    <div style="margin: 10px 0px 0px 250px; clear: both;">
        <%= render_icon("http://jitu-blog.blogspot.com/", "blogger_icon") %>
        <%= render_icon("http://jitu-blog.blogspot.com/feeds/posts/default", "feed") %>
        <%= render_icon("http://twitter.com/ashrafuzzaman", "twitter") %>
        <%= render_icon("http://www.linkedin.com/pub/a-k-m-ahsrafuzzaman/8/716/8b9", "linkedin_icon") %>
        <%= render_icon("http://www.facebook.com/profile.php?id=806820141", "facebook_icon") %>
    </div>
    <br/>
</div>