<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title><%= RefinerySetting.find_or_set(:site_name, "Ashraf on web") %></title>
        <link rel="shortcut icon" type="image/png" href="/favicon.png" />
        <%= include_stylesheets :common, :media => 'all' %>
        <%= csrf_meta_tag %>
    </head>
    <body>
        <div id="templatemo_site_title_bar_wrapper">
            <div id="templatemo_site_title_bar">
                <div id="site_title">
                    <h1>A.K.M. Ashrafuzzaman</h1>
                    <span><%= RefinerySetting.find_or_set(:email, "ashrafuzzaman.g2(AT)gmail(DOT)com") %></span>
                    <span><a href="http://jitu-blog.blogspot.com" target="_blank">jitu-blog.blogspot.com</a></span>
                    <span><a href="http://distash.blogspot.com/" target="_blank">distash.blogspot.com</a></span>
                </div>
                <div id="twitter">
                    <a href="#"></a>
                </div>
            </div>
            <!-- end of templatemo_site_title_bar -->
        </div>
        <!-- end of templatemo_site_title_bar_wrapper -->
        <div id="templatemo_content_wrapper">
            <div id="templatemo_content">
                <!-- start of slider -->
                <div class="slider-wrap">
                    <div class="stripNavL" id="stripNavL0">
                        <a href="#">Left</a>
                    </div>
                    <div class="stripNav" style="width: 610px; ">
                        <%= render :partial => "/shared/menu" %>
                    </div>
                    <div id="slider1" class="stripViewer">
                        <div class="panelContainer" style="width: 4000px; ">
                            <div class="panel" title="Home" style="">
                                <div class="wrapper">
                                    <%= yield %>
                                </div>
                            </div>
                        </div><!-- .panelContainer -->
                    </div>
                    <div class="stripNavR" id="stripNavR0">
                        <a href="#">Right</a>
                    </div><!-- #slider1 -->
                </div><!-- .slider-wrap -->
                <p id="cross-links" style="width:0px; height: 0px; font-size:0; overflow: hidden;">
                    Same-page cross-link controls:
                    <br>
                    <a href="#1" class="cross-link">Page 1</a> | <a href="#2" class="cross-link">Page 2</a> | <a href="#3" class="cross-link">Page 3</a> | <a href="#4" class="cross-link">Page 4</a> | <a href="#5" class="cross-link">Page 5</a>
                </p>
                <!-- end of slider -->
            </div>
            <!-- end of templatemo_content -->
        </div>
        <!-- end of templatemo_content_wrapper -->
        <div id="templatemo_footer_wrapper">
            <div id="templatemo_footer">
                Developed by A.K.M. Ashrafuzzaman with <a href="http://refinerycms.com/">refinery cms</a>
            </div>
            <!-- end of templatemo_footer -->
        </div>
        <!-- end of templatemo_footer_wrapper -->

        <!-- Added javascripts -->
        <script src="http://www.google.com/jsapi" type="text/javascript"></script>
        <script type='text/javascript'>
          google.load('jquery', '1.7');
        </script>
        <%= javascript_include_tag 'default' %>
        <script type="text/javascript">
            $(document).ready(function() {
                loadRecentBlogFeed();
            });

        </script>
        <%= yield :javascripts %>
    </body>
</html>
